.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 30px 0;
    margin: 0 auto;
}

.nav-menu img {
    height: 90px;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    width: 650px;
    height: 40px;
    padding: 0;
    list-style: none;
}

.nav-menu ul li {
    font-size: 32px;
    font-weight: 300;
}

.nav-menu ul li.active {
    color: #12CD86;
}

.nav-menu ul li.active button {
    cursor: default;
    text-decoration: none;
}

.nav-menu button {
    all: unset;
    cursor: pointer;
    transition: 0.2s;
    text-decoration-color: #E9E9E9;
    text-underline-offset: 10px;
}

.nav-menu button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #12CD86;
    text-underline-offset: 2px;
}